<?xml version="1.0" encoding="utf-8" ?>
<config>
  <item key="domain" value="@jianshe99.com" des="所处的网校"/>

  <item key="stu_login" value="http://portal.cdeledu.com/interface/login.php" des="登录" />

  <item key="stuware_usercourse" value="http://member.jianshe99.com/newApi/sc/phone/userCourse.shtm" des="获取用户购买的课件，用于登录后显示购买课件列表。"/>
  <item key="stuware_usercoursedetail" value="http://mportal.jianshe99.com/Course/getCourseDetail" des="获取用户购买课件的章节。"/>
  <item key="stuware_waretime" value="http://class.jianshe99.com/netwangxiao/api/getTime.ashx" des="根据章节ID获取章节的时间点。"/>
  <item key="stuware_warejy_old" value="http://class.jianshe99.com/netwangxiao/api/getKcjy.ashx" des="根据章节ID获取章节的讲义"/>
  <item key="stuware_warejy" value="http://classx.jianshe99.com/Netwangxiao/api/GetKcjy.aspx" des="根据章节ID获取章节的讲义" />
  <item key="stuware_warekey" value="http://mportal.jianshe99.com/Course/getCwareKey" des="获取激活密钥，用于激活下载包时从服务端获取密钥，解密下载包中的videofile.dat文件。"/>

  <item key="stuqz_sitecourse" value="http://member.jianshe99.com/newApi/qz/phone/course/getSiteCourses.shtm" des="获取学员所报对外课程信息"/>
  <item key="stuqz_chaptlist" value="http://member.jianshe99.com/newApi/qz/phone/course/getChapterList.shtm" des="获取课程下的章节策略" />
  <item key="stuqz_chapters" value="http://member.jianshe99.com/newApi/qz/phone/course/getChapters.shtm" des="根据对内课程ID获取其下的所有章节" />
  <item key="stuqz_centers" value="http://member.jianshe99.com/newApi/qz/phone/course/getCenters.shtm" des="根据课程ID和用户ID获取该用户下该课程的考试中心列表；" />
  <item key="stuqz_questiontype" value="http://member.jianshe99.com/newApi/qz/phone/questiontype/getQueType.shtm" des="获取所有题型" />
  <item key="stuqz_centerpapers" value="http://member.jianshe99.com/newApi/qz/phone/paper/getCenterPapers.shtm" des="获取所有考试中心ID为1的试卷信息" />
  <item key="stuqz_centerpaperviews" value="http://member.jianshe99.com/newApi/qz/phone/paper/getCenterPaperViews.shtm" des="获取所有考试中心下的对外试卷" />
  <item key="stuqz_centerpaperparts" value="http://member.jianshe99.com/newApi/qz/phone/paper/getCenterPaperParts.shtm" des="获取试卷的大类" />
  <item key="stuqz_paperquestioninfos" value="http://member.jianshe99.com/newApi/qz/phone/question/getPaperQuestionInfos.shtm" des="获取试卷下的所有题目" />
  <item key="stuqz_paperquestionoptions" value="http://member.jianshe99.com/newApi/qz/phone/question/getPaperQuestionOptions.shtm" des="根据试卷ID获取其下的所有选项" />
</config>